{{#partial "title"}}
    Registrar Técnico
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/tecnico/tecnico_crear.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
{{/partial}}

{{#partial "main-content"}}
    <div class="form-container">
        <h2 class="form-title">Registrar Técnico</h2>

        <form action="/tecnicos" method="post" class="form">
            <label class="field-nombre">
                Nombre
                <input
                        type="text"
                        name="nombre"
                        placeholder="Sonia"
                        required
                />
            </label>

            <label class="field-apellido">
                Apellido
                <input
                        type="text"
                        name="apellido"
                        placeholder="Lopez"
                        required
                />
            </label>

            <label class="field-nro-documento">
                Número de Documento
                <input
                        type="text"
                        pattern="[0-9]{8}"
                        name="nro_documento"
                        placeholder="46029384"
                />
            </label>

            <label class="field-tipo-documento">
                Tipo de Documento
                <select name="tipo_documento">
                    <option value="" disabled selected>Seleccionar</option>
                    <!-- iterar según define el sistema -->
                    <option value="DNI">DNI</option>
                    <option value="LE">Libreta de Enrolamiento</option>
                    <option value="LC">Libreta Cívica</option>
                </select>
            </label>

            <label class="cuit">
                Cuit
                <input
                        type="text"
                        name="cuit"
                        pattern="[0-9]{8}"
                        placeholder="27-28033514-8"
                        required
                />
            </label>

            <label class="field-medio-notificacion">
                Medio de Notificacion
                <select name="medio-notificacion">
                    <option value="" disabled selected>Seleccionar</option>
                    <!-- iterar según define el sistema -->
                        <option value="EMAIL">EMAIL</option>
                    <option value="WHATSAPP">WHATSAPP</option>
                    <option value="TELEGRAM">TELEGRAM</option>
                </select>
            </label>

            <label class="field-contacto">
                Contacto
                <input
                        type="text"
                        name="contacto"
                        placeholder="example@gmail.com"
                />
            </label>

            <label class="field-latitud">
                Latitud
                <input
                        type="number"
                        name="latitud"
                        step="0.00001"
                        placeholder="34.12412"
                        required
                />
            </label>

            <label class="field-longitud">
                Longitud
                <input
                        type="number"
                        name="longitud"
                        step="0.00001"
                        placeholder="-91.18651"
                        required
                />
            </label>

            <label class="field-radio">
                Radio (metros)
                <input
                        type="number"
                        min="0"
                        step="1"
                        name="radio"
                        placeholder="5000"
                        required
                />
            </label>

            <label class="field-barrio">
                Barrio
                <input
                        type="text"
                        name="barrio"
                        placeholder="Caballito"
                        required
                />
            </label>

            <div class="form-button-container">
                <button type="submit">Aceptar</button>
            </div>
        </form>
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}