{{#partial "title"}}
    Registrar Técnico
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/tecnicos/tecnico_crear.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
{{/partial}}

{{#partial "main-content"}}
    <div class="form-container">
        <h2 class="form-title">Registrar Técnico Nuevo</h2>

        <form action="/tecnicos" method="post" class="form">

            <label class="field-input">
                Nombre de Usuario
                <input
                        type="text"
                        name="nombre_usuario"
                        placeholder="Nombre de Usuario"
                        required
                />
            </label>

            <label class="field-input">
                Contraseña
                <input
                        type="password"
                        name="contrasenia"
                        placeholder="Contraseña"
                        required
                />
            </label>

            <label class="field-input">
                Email Usuario
                <input
                        type="email"
                        name="email"
                        placeholder="Email Usuario"
                        required
                />
            </label>

            <label class="field-input">
                Nombre
                <input
                        type="text"
                        name="nombre"
                        placeholder="Nombre"
                        required
                />
            </label>

            <label class="field-input">
                Apellido
                <input
                        type="text"
                        name="apellido"
                        placeholder="Apellido"
                        required
                />
            </label>

            <label class="field-input">
                Tipo de Documento
                <select name="tipo_documento" required>
                    <option value="" disabled selected>Select</option>
                    <option value="DNI">DNI</option>
                    <option value="LE">Libreta de Enrolamiento</option>
                    <option value="LC">Libreta Cívica</option>
                </select>
            </label>

            <label class="field-input">
                Número de Documento
                <input
                        type="text"
                        pattern="[0-9]{8}"
                        name="nro_documento"
                        placeholder="Número de Documento"
                        required
                />
            </label>

            <label class="field-input">
                CUIL
                <input
                        type="text"
                        name="cuil"
                        pattern="[0-9]{11}"
                        placeholder="CUIL"
                        required
                />
            </label>

            <h3 class="form-subtitle">Área de Cobertura</h3>

            <label class="field-input">
                Latitud
                <input
                        type="number"
                        name="latitud"
                        step="0.00001"
                        placeholder="34.12412"
                        required
                />
            </label>

            <label class="field-input">
                Longitud
                <input
                        type="number"
                        name="longitud"
                        step="0.00001"
                        placeholder="-91.18651"
                        required
                />
            </label>

            <label class="field-input">
                Radio de Cobertura (Expresado en Metros)
                <input
                        type="number"
                        min="0"
                        step="1"
                        name="radio"
                        placeholder="500"
                        required
                />
            </label>

            <label class="field-input">
                Barrio
                <input
                        type="text"
                        name="barrio"
                        placeholder="Caballito"
                        required
                />
            </label>


            <div class="form-button-container">
                <button type="submit">Aceptar</button>
            </div>
        </form>
    </div>

{{/partial}}
{{> templates/base}}