{{#partial "title"}}
    Hacerse cargo de una Heladera
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <!--  object: hacerseCargoHeladera  -->
    <div>
        Encargarse de heladera: {{hacerse_cargo_heladera.id}}
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}