.form-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    background-color: var(--background-2);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 2rem;
    color: var(--foreground-1);
    text-align: center;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field-cantidad-viandas input,
.field-medio-notificacion select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--background-3);
    border-radius: 0.4rem;
    font-size: 1rem;
    color: var(--foreground-0);
    background-color: var(--background-1);
}

.form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.form-button-container button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--foreground-0);
    background-color: var(--main-light-0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button-container button:hover {
    background-color: var(--main-light-1);
}
