<nav class="nav-bar">
    <a href="/colaboraciones" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            volunteer_activism
          </span>
        <div class="nav-txt">Colaboraciones</div>
    </a>

    <a href="/colaboradores" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> diversity_3 </span>
        <div class="nav-txt">Colaboradores</div>
    </a>

    <a href="/tecnicos" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> construction </span>
        <div class="nav-txt">Técnicos</div>
    </a>

    <a href="/fallas-tecnicas" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> report </span>
        <div class="nav-txt">Fallas Técnicas</div>
    </a>

    <a href="/alertas" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            deployed_code_alert
          </span>
        <div class="nav-txt">Alertas</div>
    </a>

    <a href="/heladeras" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> kitchen </span>
        <div class="nav-txt">Heladeras</div>
    </a>

    <a href="/home" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> home </span>
        <div class="nav-txt">Home</div>
    </a>
</nav>