<nav class="nav-bar">
    <a href="/colaboraciones" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            volunteer_activism
          </span>
        <div class="nav-txt">Colaborar</div>
    </a>

    <a href="/fallas-tecnicas/new" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> report </span>
        <div class="nav-txt">Reportar Falla</div>
    </a>

    <a href="/alertas" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            deployed_code_alert
          </span>
        <div class="nav-txt">Alertas</div>
    </a>

    <a href="/heladeras" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> kitchen </span>
        <div class="nav-txt">Heladeras</div>
    </a>

    <a href="/canje-de-puntos/new" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> redeem </span>
        <div class="nav-txt">Canje de Puntos</div>
    </a>

    <a href="/notificaciones" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            mark_unread_chat_alt
          </span>
        <div class="nav-txt">Mensajes</div>
    </a>

    <a href="/perfil" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            account_circle
          </span>
        <div class="nav-txt">Perfil</div>
    </a>

    <a href="/home" class="nav-option">
        <span class="material-symbols-rounded nav-icon"> home </span>
        <div class="nav-txt">Home</div>
    </a>
</nav>