.main-section {
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: .5rem;
    width: 80%;
    max-height: 100%;
    overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 5%;
}

.title {
    flex-grow: 1;
    display: flex;
    width: 100%;
    margin: 0;
    font-size: 2rem;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--background-2);
    border: 1px solid var(--background-3);

    color: var(--foreground-0);
    text-decoration: none;

    transition-property: all;
    transition-duration: 300ms;
}

.register-button:hover {
    color: var(--main-light-0);
    text-shadow: 0 0 .1rem var(--main-light-0);
    box-shadow: 0 0 1rem var(--background-3);
}

.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    color: var(--foreground-0);
    background-color: var(--background-2);
    border: 1px solid var(--background-3);

    transition-property: all;
    transition-duration: 300ms;
}

.card:hover {
    color: var(--main-light-0);
    background-color: var(--background-1);
}

.card p {
    display: flex;
    align-items: center;
    margin: .1rem;
    font-size: 1rem;
}

.card-detail-icon {
    font-size: 1rem;
    margin-right: .5rem;
}

.descripcion {
    margin: .5rem 0;
}

.visitas-title {
    flex-grow: 1;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.4rem;
}

.sin-visitas {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7d3a3;
    font-size: 1rem;
}

.list-container {
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}

.visita-image {
    display: flex;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: .3rem;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.side-panel {
    width: 35vw;
}

#map {
    height: 100%;
    width: 100%;
}
