.main-section {
    overflow-y: hidden;
}

.redirect-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1.2rem;
    /*border-radius: .7rem;*/
    /*background-color: var(--background-2);*/
}

.redirect-title {
    flex-grow: 1;
    display: flex;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    color: var(--foreground-2);
}

.redirect-button-container {
    display: flex;
    justify-content: flex-end;
}

.redirect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: .5rem .7rem;
    border-radius: .5rem;
    border: 1px solid var(--background-3);
    color: var(--foreground-2);
    text-decoration: none;
    transition-property: all;
    transition-duration: 300ms;
}

.redirect-button:hover {
    color: var(--background-0);
    background-color: var(--main-light-0);
}

.divider {
    width: 95%;
    border-bottom: 1px solid var(--background-3);
    margin: 0;
}

.form {
    grid-template-columns: 15rem 15rem;
}

.field-nombre {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

.field-descripcion {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

.field-descripcion textarea {
    height: 5rem;
    resize: vertical;
    min-height: 4rem;
}

.side-panel {
    width: 35vw;
}

#map {
    height: 100%;
    width: 100%;
}
