{{#partial "title"}}
    Reparto De Tarjeta
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <!--  object: repartoDeTarjetaDTO  -->
    <div>
        Reparto De Tarjeta: {{reparto_tarjeta.id}}
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}