{{#partial "title"}}
    Sign Up
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/sign/signup.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
{{/partial}}

{{#partial "main-content"}}
    <div class="form-container">
        <div class="form-header">
            <a href="/login" class="form-header-option">LOG IN</a>
            <a href="/sign" class="active form-header-option">SIGN UP</a>
        </div>
        <div class="contenedores">
            <a href="/signup/humana" class="opciones">
                <span class="material-symbols-rounded nav-icon"> person </span>
                <div class="nav-txt">Humana</div>
            </a>
            <a href="/signup/juridica" class="opciones">
                <span class="material-symbols-rounded nav-icon"> apartment </span>
                <div class="nav-txt">Juridica</div>
            </a>
        </div>
    </div>
{{/partial}}
{{> templates/base_plain}}