{{#partial "title"}}
    Sign Up Humana
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/sign/sign.css"/>
{{/partial}}

{{#partial "main-content"}}
    <img src="/img/Map.png" class="main-section" alt="">

    <div class="form-container">
        <div class="form-title">
            Sign Up Humana
        </div>
        <form action="/signup/humana" method="post" class="form">
            <div class="contenedores">
                <div class="izquierda">
                    <input type="hidden" name="tipo_colaborador" value="HUMANA">
                    <label>
                        <input type="text" name="nombre_usuario" placeholder="Nombre de Usuario" required>
                    </label>
                    <label>
                        <input type="password" name="contrasenia" placeholder="Contrase침a" required>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="Email Usuario" required>
                    </label>
                    <label>
                        <input type="text" name="nombre" placeholder="Nombre" required>
                    </label>
                    <label>
                        <input type="text" name="apellido" placeholder="Apellido" required>
                    </label>
                    <label>
                        <input type="date" name="fecha_nacimiento" required>
                    </label>
                </div>
                <div class="centro">
                    <label>
                        <input type="text" name="barrio" placeholder="Barrio" required>
                    </label>
                    <label>
                        <input type="text" name="calle" placeholder="Calle" required>
                    </label>
                    <label>
                        <input type="number" name="altura" placeholder="Altura" required>
                    </label>
                    <label>
                        <input type="text" name="email" placeholder="Email" >
                    </label>
                    <label>
                        <input type="text" name="telefono" placeholder="Telefono" >
                    </label>
                    <label>
                        <input type="text" name="whatsapp" placeholder="WhatsApp" >
                    </label>
                    <label>
                        <input type="text" name="telegram" placeholder="Telegram" >
                    </label>
                </div>
                <div class="derecha">
                    <label for="colaboraciones">Colaboraciones:</label>
                    <div>
                        <input type="checkbox" id="donacion-dinero" name="colaboraciones" value="DONACION_DINERO" />
                        <label for="donacion-dinero">Donaci칩n de Dinero</label>
                    </div>

                    <div>
                        <input type="checkbox" id="donacion-viandas" name="colaboraciones" value="DONACION_VIANDAS" />
                        <label for="donacion-viandas">Donaci칩n de Viandas</label>
                    </div>

                    <div>
                        <input type="checkbox" id="distribucion-viandas" name="colaboraciones" value="DISTRIBUCION_VIANDAS" />
                        <label for="distribucion-viandas">Distribuci칩n de Viandas</label>
                    </div>

                    <div>
                        <input type="checkbox" id="entrega-vianda" name="colaboraciones" value="ENTREGA_VIANDA" />
                        <label for="entrega-vianda">Entrega de Viandas</label>
                    </div>

                    <div>
                        <input type="checkbox" id="reparto-tarjetas" name="colaboraciones" value="REPARTO_DE_TARJETAS" />
                        <label for="reparto-tarjetas">Reparto de Tarjetas</label>
                    </div>
                    <div class="form-button-container">
                        <div class="ajuste">
                            <button type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{{/partial}}
{{> templates/base_plain}}
