{{#partial "title"}}
    Sign Up Juridica
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/sign/sign.css"/>
{{/partial}}
{{#partial "main-content"}}
    <img src="/img/Map.png" class="main-section" alt="">
    <div class="form-container">
        <div class="form-title">
            Sign Up Juridica
        </div>
        <form action="/signup/juridica" method="post" class="form">
            <div class="contenedores">
                <div class="izquierda">
                    <input type="hidden" name="tipo_colaborador" value="JURIDICO">
                    <label>
                        <input type="text" name="nombre_usuario" placeholder="Nombre de Usuario"
                               required>
                    </label>
                    <label>
                        <input type="password" name="contrasenia" placeholder="Contraseña" required>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="Email Usuario" required>
                    </label>
                    <label>
                        <select name="tipo_razon_social" required>
                            <option value="" disabled selected>Tipo de Razon Social</option>
                            <option value="GUBERNMENTAL">Gubernamental</option>
                            <option value="ONG">ONG</option>
                            <option value="EMPRESA">Empresa</option>
                            <option value="INSTITUCION">Institucion</option>
                        </select>
                    </label>
                    <label>
                        <input type="text" name="razon_social" placeholder="Razon Social" required>
                    </label>
                    <label>
                        <input type="text" name="rubro" placeholder="Rubro" required>
                    </label>
                </div>
                <div class="centro">
                    <label>
                        <input type="text" name="barrio" placeholder="Barrio" required>
                    </label>
                    <label>
                        <input type="text" name="calle" placeholder="Calle" required>
                    </label>
                    <label>
                        <input type="number" name="altura" placeholder="Altura" required>
                    </label>
                    <label>
                        <input type="text" name="email" placeholder="Email">
                    </label>
                    <label>
                        <input type="text" name="telefono" placeholder="Telefono">
                    </label>
                    <label>
                        <input type="text" name="whatsapp" placeholder="WhatsApp">
                    </label>
                    <label>
                        <input type="text" name="telegram" placeholder="Telegram">
                    </label>
                </div>
                <div class="derecha">
                    <label for="colaboraciones">Colaboraciones:</label>
                    <div>
                        <input type="checkbox" id="donacion-dinero" name="colaboraciones"
                               value="DONACION_DINERO"/>
                        <label for="donacion-dinero">Donación de Dinero</label>
                    </div>
                    <div>
                        <input type="checkbox" id="hacerse-cargo-heladera" name="colaboraciones"
                               value="HACERSE_CARGO_HELADERA"/>
                        <label for="hacerse-cargo-heladera">Hacerse Cargo de Heladera</label>
                    </div>
                    <div class="form-button-container">
                        <div class="ajuste">
                            <button type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{{/partial}}
{{> templates/base_plain}}
