{{#partial "title"}}
    Sign Up Juridica
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/sign/signform.css"/>
{{/partial}}
{{#partial "main-content"}}
    <div class="form-container">
        <h2 class="form-title">Sign Up Juridica</h2>

        <form action="/signup/juridica" method="post" class="form">
            <input type="hidden" name="tipo_colaborador" value="JURIDICO">

            <label class="field-input">
                Nombre de Usuario
                <input
                        type="text"
                        name="nombre_usuario"
                        placeholder="Nombre de Usuario"
                        required
                />
            </label>

            <label class="field-input">
                Contraseña
                <input
                        type="password"
                        name="contrasenia"
                        placeholder="Contraseña"
                        required
                />
            </label>

            <label class="field-input">
                Email Usuario
                <input
                        type="email"
                        name="email"
                        placeholder="Email Usuario"
                        required
                />
            </label>

            <label class="field-input">
                Tipo de Razon Social
                <select name="tipo_razon_social" required>
                    <option value="" disabled selected>Select</option>
                    <option value="GUBERNAMENTAL">Gubernamental</option>
                    <option value="ONG">ONG</option>
                    <option value="EMPRESA">Empresa</option>
                    <option value="INSTITUCION">Institución</option>
                </select>
            </label>

            <label class="field-input">
                Razon Social
                <input
                        type="text"
                        name="razon_social"
                        placeholder="Razon Social"
                        required
                />
            </label>

            <label class="field-input">
                Rubro
                <input
                        type="text"
                        name="rubro"
                        placeholder="Rubro"
                        required
                />
            </label>

            <label class="field-input">
                Barrio
                <input
                        type="text"
                        name="barrio"
                        placeholder="Barrio"
                        required
                />
            </label>

            <label class="field-input">
                Calle
                <input
                        type="text"
                        name="calle"
                        placeholder="Calle"
                        required
                />
            </label>

            <label class="field-input">
                Altura
                <input
                        type="number"
                        name="altura"
                        placeholder="Altura"
                        required
                />
            </label>

            <label class="field-input">
                Teléfono
                <input
                        type="text"
                        name="telefono"
                        placeholder="Teléfono"
                />
            </label>


            <div class="checkbox-group">
                <label for="colaboraciones">Colaboraciones:</label>
                <div class="colaboraciones-container">
                    <input type="checkbox" id="donacion-dinero" name="colaboraciones" value="DONACION_DINERO">
                    <label for="donacion-dinero">Donación de Dinero</label>

                    <input type="checkbox" id="hacerse-cargo-heladera" name="colaboraciones"
                           value="HACERSE_CARGO_HELADERA">
                    <label for="hacerse-cargo-heladera">Hacerse Cargo de Heladera</label>
                </div>
            </div>

            <div class="form-button-container">
                <button type="submit">Guardar</button>
            </div>
        </form>
    </div>
{{/partial}}
{{> templates/base_plain}}
