{{#partial "title"}}
    Donación de Vianda
{{/partial}}
{{#partial "links"}}
    <!--    <link rel="stylesheet" href="/css/colaboraciones/donacion_vianda/donacion_vianda_detalle.css"/>-->
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <!--  object: donacionVianda  -->
    <div>
        Donación de Vianda: {{donacionVianda.id}}
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}