{{#partial "title"}}
    Donar Dinero
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <!--  object: donacionDinero  -->
    <div>
        Una donación de vianda.
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}