{{#partial "tittle"}}
    Alertas
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/incidentes/alertas.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Visulizar Alertas</h2>
        <div class="scrollable">
            <ul class="list">
                {{#each alertas}}
                    <li class="list-item">
                        <a href="#" class="item-card">
                            <h3 class="card-title">{{this.tipo}}</h3>
                            <div class="card-details">
                                <p>Heladera: {{this.heladera.nombre}}</p>
                                <p>
                                    <span class="material-symbols-rounded card-detail-icon">today</span>
                                    Fecha: {{this.fechaHora}}
                                </p>

                            </div>
                        </a>
                    </li>
                {{/each}}
                <li class="list-item">
                    <a href="#" class="item-card">
                        <h3 class="card-title">Fraude</h3>
                            <div class="card-details">
                                 <p>Heladera: Melip</p>
                                 <p>
                                     <span class="material-symbols-rounded card-detail-icon">today</span>
                                     Fecha: 12-12-12
                                 </p>

                            </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{{/partial}}
{{> templates/base}}