{{#partial "title"}}
    Nueva Visita en {{falla.heladera}}
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/visitas_tecnico/visita_tecnico_crear.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="/js/map.js"></script>
{{/partial}}
{{#partial "main-content"}}
    <div class="form-container">
        <h2 class="form-title">Registrar Nueva Visita</h2>

        <form action="/visitas-tecnico?fallaId={{falla.id}}" method="post" class="form"
        enctype="multipart/form-data">
        <label class="field-fecha-hora">
            Fecha Hora
            <input
                    type="datetime-local"
                    name="fecha-hora-visita"
                    required
            />
        </label>
        <label class="field-descripcion">
            Descripción del Trabajo
            <textarea type="text" name="descripcion" required></textarea>
        </label>

        <label class="field-imagen">
            Imagen
            <input type="file" name="foto" accept=".png, .jpg, .jpeg" required/>
        </label>

        <div class="checkbox-wrapper">
            <input
                    type="checkbox"
                    id="resuelta"
                    name="estado-falla"
                    value="resuelta"
            />
            <label class="label-resuelta" for="resuelta">
                Falla Resuelta
            </label>
        </div>

        <div class="form-button-container">
            <button type="submit">Registrar</button>
        </div>
        </form>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    <div>INFO DE LA FALLA</div>
    <div id="map"></div>
{{/partial}}
{{> templates/base}}
