{{#partial "title"}}
    Reportes Semanales
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/reportes/reportes.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Reportes Semanales</h2>
        <div class="generate-reports-container">
            <h3 class="generate-reports-title">Generar Reportes de la Semana</h3>
            <form action="/reportes" method="post" class="generate-reports-button-container">
                <button type="submit" class="button">Generar</button>
            </form>
        </div>
        <div class="scrollable">
            <ul class="list">
                {{#each reportes}}
                    <li class="list-item">
                        <a href="/reportes/{{this.id}}/{{this.nombreArchivo}}" class="item-card"
                           target="_blank">
                            <h3 class="card-title">{{this.titulo}}</h3>
                            <div class="card-details">
                                <p>
                                    <span class="material-symbols-rounded card-detail-icon">today</span>
                                    Fecha: {{this.fecha}}
                                </p>

                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/partial}}
{{> templates/base}}