<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {{#block "title"}}
        {{/block}}
    </title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/base.css">
    {{#block "links"}}
    {{/block}}
    {{#block "scripts"}}
    {{/block}}
</head>

<body>
<div class="root">
    {{#if isAdmin}}
        {{> templates/navbar/admin_navbar}}
    {{/if}}

    {{#if isColaborador}}
        {{> templates/navbar/colaborador_navbar}}
    {{/if}}

    {{#if isTecnico}}
    {{/if}}

    <main class="main-section">
        {{#block "main-content"}}
        {{/block}}
    </main>

    <aside class="side-panel">
        {{#block "side-panel"}}
        {{/block}}
    </aside>
</div>
</body>
</html>
