<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {{#block "title"}}
        {{/block}}
    </title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/index.css">
    {{#block "links"}}
    {{/block}}
    {{#block "scripts"}}
    {{/block}}
</head>

<body>
<div class="root">
    <main class="main-section">
        {{#block "main-content"}}
        {{/block}}
    </main>
</div>
</body>
</html>
