{{#partial "title"}}
    Home
{{/partial}}
{{#partial "links"}}
{{/partial}}
{{#partial "scripts"}}
    <script>
        console.log("script works")
    </script>
{{/partial}}
{{#partial "content"}}
    <h1>
        HOME
    </h1>
{{/partial}}
{{> templates/base}}