{{#partial "title"}}
    Not Found
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/notfound.css">
{{/partial}}

{{#partial "main-content"}}
    <h2>NOT FOUND</h2>
{{/partial}}
{{> templates/base_plain}}