{{#partial "title"}}
    No autorizado
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/unauthorized.css">
{{/partial}}

{{#partial "main-content"}}
    <h2>UNAUTHORIZED</h2>
{{/partial}}
{{> templates/base_plain}}