{{#partial "title"}}
    Colaboraciones
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/form.css"/>
    <link rel="stylesheet" href="/css/colaboraciones/colaboraciones.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Colaboraciones Realizadas</h2>

        <div class="filter-container">
            <div class="filter">FILTROS</div>
            <!-- barra por búsqueda y filtros -->
            <!-- filtro: activo, suscripto, encargado -->
        </div>

        <div class="scrollable">
            <ul class="list">
                <!-- !! MODELO DE ITEM -->
                <li class="list-item">
                    <a href="" class="item-card">
                        <h3 class="card-title">Donación de Dinero</h3>
                        <p>
                            <span class="material-symbols-rounded card-detail-icon">today</span>
                            Fecha: 12/10/2021
                        </p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    {{#if isAdmin}}
        <div class="form-container">
            <h2 class="form-title">Cargar Colaboraciones</h2>
            <form action="/colaboraciones/migrate" method="post" class="form"
                  enctype="multipart/form-data">
                <label class="field-csv">
                    Archivo
                    <input type="file" name="csv" accept=".csv" required/>
                </label>

                <div class="form-button-container">
                    <button type="submit">Aceptar</button>
                </div>
            </form>
        </div>
    {{/if}}

    {{#if isColaborador}}
        {{#each colaboraciones}}
            <!-- iterar las formas de colaboracion -->
        {{/each}}
        <div class="lista-colaboraciones">
            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Cargar Colaboraciones</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/donacion-dinero/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Donar Dinero</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/donacion-dinero/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Donar Vianda</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/donacion-vianda/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Registrar Persona Vulnerable</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/registro-persona-vulnerable/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Entregar Viandas</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/entrega-viandas/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Distribuir Viandas</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/distribucion-viandas/new" class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Ofrecer Producto / Servicio</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/oferta-producto-servicio/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>

            <div class="item-colaboracion">
                <h3 class="colaboracion-title">Encargarse de Heladeras</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/encargarse-de-heladeras/new"
                       class="colaboracion-button">colaborar</a>
                </div>
            </div>
        </div>
    {{/if}}
{{/partial}}
{{> templates/base}}