{{#partial "title"}}
    Iniciar Sesi칩n
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/login/login.css"/>
{{/partial}}

{{#partial "main-content"}}
    <img src="img/Map.png" class="main-section">
    <div class="form-container">
        <div class="form-title">
            <a href="/login" class="active form-header-option">LOG IN</a>
            <a href="/sign" class="form-header-option">SIGN UP</a>
        </div>

        {{#if isRetry}}
            <div class="error-card">email o contrase침a incorrecta.</div>
        {{/if}}

        <form action="/login" method="POST" class="form">
            <label class="field-email">
                Email
                <input type="email" name="email" required/>
            </label>

            <label class="field-clave">
                Contrase침a
                <input type="password" name="clave" required/>
            </label>

            <div class="form-button-container">
                <button type="submit">Iniciar Sesi칩n</button>
            </div>
        </form>
    </div>
{{/partial}}
{{> templates/base_plain}}