{{#partial "title"}}
    Oferta de Producto / Servicio
{{/partial}}
{{#partial "links"}}
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <h1>
        UNA OFERTA DE PRODUCTO O SERVICIO
    </h1>
{{/partial}}
{{> templates/base}}