{{#partial "title"}}
    Fallas Técnicas
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/incidentes/fallas_tecnicas.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="list-container">
        <h2 class="list-title">Fallas Técnicas</h2>

        <div class="filter-container">
            <div class="filter">FILTROS</div>
            <!-- barra por búsqueda y filtros -->
            <!-- filtro: activo, suscripto, encargado -->
        </div>

        <div class="scrollable">
            <ul class="list">
                <!-- !! MODELO DE ITEM -->
                <li class="list-item">
                    <a href="" class="item-card">
                        <h3 class="card-title">Donación de Dinero</h3>
                        <p>
                            <span class="material-symbols-rounded card-detail-icon">today</span>
                            Fecha: 12/10/2021
                        </p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}
