{{#partial "title"}}
    Donación de dinero
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <!--  object: donacionDinero  -->
    <div>
        Donación de dinero: {{donacionDinero.id}}
    </div>
{{/partial}}
{{#partial "side-panel"}}
{{/partial}}
{{> templates/base}}