{{#partial "title"}}
    Donar Dinero
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/colaboraciones/donacion_dinero_crear.css"/>
{{/partial}}
{{#partial "scripts"}}
{{/partial}}
{{#partial "main-content"}}
    <div class="form-container">
        <h2 class="form-title">Donar Dinero</h2>

        <form action="/colaboraciones/donacion-dinero" method="post" class="form">
            <label class="field-monto">
                Monto
                <input type="number" min="1" step="1" name="monto" required/>
            </label>

            <div class="form-button-container">
                <button type="submit">Aceptar</button>
            </div>
        </form>
    </div>
{{/partial}}
{{#partial "side-panel"}}
    <!--  object: donacionPeriodica  -->
    <div class="donacion-periodica-container card-container">
        <h3>Donación de Dinero Periódica</h3>

        {{#if donacionPeriodica}}
            <div class="card">
                <p>
                    <span class="material-symbols-rounded card-detail-icon">paid</span>
                    Monto: ${{donacionPeriodica.monto}}
                </p>
                <p>
                    <span class="material-symbols-rounded card-detail-icon">today</span>
                    Periodicidad: {{donacionPeriodica.periodicidad}}
                </p>
                <div class="button-container">
                    <a href="/colaboraciones/donacion-dinero/periodica/{{donacionPeriodica.id}}/edit"
                       class="button">Configurar</a>
                </div>
            </div>
        {{else}}
            <div class="card">
                <p>No tenés ninguna donación programada</p>
                <div class="button-container">
                    <a href="/colaboraciones/donacion-dinero/periodica/new"
                       class="button">Crear</a>
                </div>
            </div>
        {{/if}}
    </div>
{{/partial}}
{{> templates/base}}