.main-section {
    border: 1px solid var(--background-3);
}

.form-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: 30rem 30rem;
    gap: 3rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.form-title {
    margin-top: -0.2rem;
}


label {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
}

.column {
    flex: 1;
    margin-top: -0.4rem;
    min-width: 30rem;
}

.form-button-container {
    grid-column: span 1;
    margin-top: 2rem;
    justify-self: center;
}

.side-panel {
    display: none;
}