.main-section {
    border: 1px solid var(--background-3);
}

.form {
    grid-template-columns: 2fr 1fr;
}

.form-title {
    font-size: 2rem;
    color: var(--foreground-1);
}

.field-nombre {
    grid-column: 1 / -1;
}

.field-apellido {
    grid-column: 1 / -1;
}

.field-documento {
    grid-column: 1 / -1;
}

.field-tipodocumento {
    grid-column: 1 / -1;
}

.field-fecha-nacimiento {
    grid-column: 1 / -1;
}

.field-cuit {
    grid-column: 1 / -1;
}

.field-medio-notificacion {
    grid-column: 1 / -1;
}

.field-contacto {
    grid-column: 1 / -1;
}

.field-latitud {
    grid-column: 1 / -1;
}

.field-longitud {
    grid-column: 1 / -1;
}

.field-radio {
    grid-column: 1 / -1;
}

.field-barrio {
    grid-column: 1 / -1;
}

.side-panel {
    display: none;
}