.main-section {
    margin: 0 1.5vh;
    padding: 0 1rem;
    overflow-y: hidden;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-container {
    margin: 2rem;
    width: 50%;
    border-radius: .7rem;
    padding: 2rem;
}

.form-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--foreground-2);
}