{{#partial "title"}}
    Home
{{/partial}}
{{#partial "links"}}
    <link rel="stylesheet" href="/css/home_admin.css"/>
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
            rel="stylesheet"
    />
{{/partial}}
{{#partial "scripts"}}
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="/js/map.js"></script>
{{/partial}}
{{#partial "main-content"}}
    <div id="map"></div>
{{/partial}}
{{#partial "side-panel"}}
    <div class="lista-colaboraciones">
        {{#each colaboraciones}}
            <div class="item-colaboracion">
                <h3 class="colaboracion-title">{{this}}</h3>
                <div class="colaboracion-button-container">
                    <a href="/colaboraciones/{{this}}/new" class="colaboracion-button">colaborar</a>
                </div>
            </div>
        {{/each}}
    </div>
{{/partial}}
{{> templates/base_admin}}